html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
}

.robot-body {
  position: relative;
  width: 320px;
}

.robot-brain {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  position: absolute;
  right: 0;
  top: 0;
}

.robot-head-left {
  position: absolute;
  left: 0;
  top: 0;
}
