html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
}

.robot {
  position: relative;
  margin: 0 auto;
  min-height: 239px;
  top: 54px;
  width: 320px;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

.robot-head-right,
.robot-head-left {
  position: absolute;
  top: -38px;
  width: 125px;
}

.robot-head-left {
  left: 35px;
}

.robot-head-right {
  right: 35px;
}

.robot-head-right:hover {
  right: 0;
}

.robot-head-left:hover {
  left: 0;
}
